<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>trajet</title>
</head>
<body>
    <div class="container-fluid col-12">

        <div class="row">
            <nav class="navbar navbar-light bg-light col-12 text-align" >
                <a class="navbar-brand" href="#">
                  <img src="/images/train.png" width="30" height="30" alt="">
                  <h5>Ticketac</h5>
                </a>
                <div class="end">
                    <p class="rouge">Connection</p>
                    <div class="end">
                    <p>My last trips</p>
                  </div>
                </div>
          </div>
              </nav>
        </div>
    </div>
    <h5 class="new-light">Tickets available on 02/08</h5>
    <%for(var i =0; i<journey.length;i++){%>
    <div class="container-fluid col-6">
        <div class="new-area">
            <table class="table table-bordered" class="rounded">
                <tbody>
                   <tr class="table-light">
                      <td><%=journey[i].departure%>/<%=journey[i].arrival%></td>
                      <td>train departure at : <%=journey[i].departureTime%></td>
                      <td><%=journey[i].price%></td>
                      <td><a href="/trajet?position=<%i%>&&departure=<%=journey[i].departure%>&arrival=<%=journey[i].arrival%>&date=<%=journey[i].date%>&departureTime=<%=journey[i].departureTime%>&price=<%=journey[i].price%>" class="btn btn-danger">OK</button></a></td> 
                    </tr>
                 
                  
                
                </tbody>
              </table>
             
              </div>
            </div>
            <%}%>





        
















    </div>
        
    












    
</body>
</html>