<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trajets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container-fluid col-12">

        <div class="row">
            <nav class="navbar navbar-light bg-light col-12 text-align" >
                <a class="navbar-brand" href="homepage">
                  <img src="/images/train.png" width="30" height="30" alt="">
                  <h5>Ticketac</h5>
                </a>
                <div class="end">
                  <a style="text-decoration:none" href="/deco"><p class="rouge">Déconnexion</p></a>
                    <div class="end">
                      <a style="text-decoration:none" href="/lastTrip"><p>My last trips</p></a>
                  </div>
            </div>
              </nav>
        </div>
    </div>
    <h3 class="new-light">My tickets : </h3>
    <div class="container-fluid col-6">
        <div class="new col-12">
    <table class="table table-borderless">
        <thead>
            <tr class="table-light">
            <th scope="col">N°</th>
            <th scope="col">Journey</th>
            <th scope="col">Date</th>
            <th scope="col">Departure time</th>
            <th scope="col">Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%
          var total =0; 
          for(var i =0; i<trajet.length;i++){%>
            <tr class="table-light">
            <th scope="row"><%=i+1%></th>
            <td><%=trajet[i].departure%>/<%=trajet[i].arrival%></td>
            <td><%= dateFormat(trajet[i].date)%></td>
            <td><%=trajet[i].departureTime%></td>
            <td><%=trajet[i].price%>€</td>
            <td><a href="delete?position=<%i%>"><button type="button" class="btn btn-danger">Supp</button></a></td>
          </tr>
          
          <%
          total += trajet[i].price * 1;
          }%>
          <tr class="table-danger">
            <th scope="row">Total</th>
            <td></td>
            <td></td>
            <td></td>
            <td><%=total%>€</td>
            <td></td>
          </tr>
          <tr class="table-borderless">
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
           <td><a href="popup"><button type="submit" class="btn btn-danger">confirm</button></a> </td>
          </tr>
          
        </tbody>
      </table>
    </div>
    </div>
        


      <div class="container-fluid col-12">
    <p class="newcopy fixed-bottom">© 2019 LaCapsule</p>
    </div>
    
</body>
</html>